* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header a */
a {
    font-size: 15px;
}

.li-a {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

#logo {
    font-size: 36px;
}

.block-3 div picture h2 {
    font-size: 36px;
}

.modal-header h2 {
    font-size: 24px;
}

.block-3 div picture p {
    font-size: 14px;
}

.banner p {
    font-size: 18px;
}

footer div h6 {
    font-size: 14px;
}

footer div a {
    font-size: 14px;
}




menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7em;
    padding-left: 8em;
    padding-bottom: 10px;
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}


span ul li a {
    font-weight: 300;
    color: rgba(115, 115, 115, 1);
}

ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.block-1 {
    /* border: solid black 1px; */
    margin-top: 47px;
    margin-right: 7em;
    margin-left: 7em;
}

#block-1-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




li {
    list-style: none;
}

.left-nav {
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
}

span a {
    color: rgba(255, 255, 255, 1);
}

menu span {
    padding-top: 1%;
    padding-bottom: 0.5%;
    /* text-align: left; */
    color: rgba(255, 255, 255, 1);
}

a svg {
    margin-right: 10px;
}

.center-svg {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}


#right {
    margin: 100px;
}



#call:hover {
    transition: transform 500ms;
    transform: scale(1.2);
    stroke: green;
}

#name {
    border: 2px solid rgba(161, 161, 161, 1);
    border-radius: 9px;
    padding-left: 2%;
    width: 43%;
    height: 3.7em;
}

#email {
    border: 2px solid rgba(161, 161, 161, 1);
    border-radius: 9px;
    padding-left: 2%;
    width: 43%;
    height: 3.7em;
    margin-left: 1.4em;
    margin-bottom: 1.5em;
}

#comment {
    border: 2px solid rgba(161, 161, 161, 1);
    border-radius: 9px;
    padding-left: 2%;
    padding-bottom: 5%;
    width: 89%;
    height: 6em;
}


#submit {
    border-radius: 9px;
    margin-top: 3em;
    width: 8em;
    height: 3em;
    color: white;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: none;
    padding-bottom: 4px;
    cursor: pointer;
}

#logo {
    display: flex;
    font-style: italic;
    letter-spacing: 0px;
    font-weight: 800;
}



body {
    overflow: auto;
}


.modal {
    display: none;
    /* background-color: rgb(173, 159, 159); */
    background-color: rgba(0, 0, 0, 0.0.5);
    z-index: 1;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;


    backdrop-filter: blur(25px);
}

.modal-content {
    border-radius: 9px;
    box-shadow: 0px 0px 40px 0px rgba(234, 31, 136, 0.4);
    /* position: absolute; */
    text-align: center;
    align-items: center;
    /* left: 25%;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto 0; */
    width: 50%;
    height: 40%;
    background-color: white;
    animation-name: animate;
    animation-duration: 0.5s;

}

.modal-header {
    margin-top: 2em;
    margin-bottom: 2em;
}

@keyframes animate {
    from {
        top: -320px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    cursor: pointer;
    color: red;
    font-size: 30px;
    font-weight: bold;
}





#btn {
    width: 179px;
    height: 53px;
    border-radius: 7px;
    border: none;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;

}

#block-2-header {
    width: 100%;
    height: 100%;
    /* border: solid black 1px; */
    display: flex;
    margin-top: 190px;
    /* justify-content: space-between; */
}

#block-2-header span {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#h1-zakaz {
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
    text-align: left;
}

#h1-zakaz-1024 {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

#block-2-header span p {
    font-size: 24px;
    font-weight: 300;
    text-align: left;

}

#block-2-header span img {
    position: absolute;
    max-width: 533px;
    max-height: 686px;
    width: 50vw;
    height: auto;
    top: 150px;
    left: 55%;
}

footer {
    /* border: solid black 1px; */
    padding-top: 172px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div img {
    width: 33px;
    height: 33px;
}

footer div {
    display: flex;
    flex-direction: column;

}

footer div h6 {
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

footer div a {
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    text-align: left;
}

.block-3 {

    margin-top: 280px;
    text-align: center;
}

.block-3 h1 {
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 120px;

}

.block-3 h1 span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg, #B90160 2.23%, #2E3192 99.51%);

}

.block-3 div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5em;
}

.block-3 div picture {
    overflow: hidden;
    border-radius: 9px;
    /* border: 1px solid #000000; */
    width: 344px;
    text-align: left;
    box-shadow: 0px 0px 40px 0px rgba(184, 0, 95, 0.2);

}

.block-3 div picture img {
    display: block;
    width: 100%;
    height: auto;
}

.borderline {
    width: 363px;
    height: 225px;

}


#last-img {
    /* max-height: 53%; */
}

.block-3 div picture h2 {
    font-weight: 600;
    line-height: 42px;
    margin-left: 22px;
    margin-top: 15px;
}

.block-3 div picture p {
    color: rgba(118, 118, 118, 1);
    font-weight: 300;
    line-height: 16px;
    margin-left: 22px;
    margin-top: 10px;
    margin-bottom: 22px;
}

.tablet-p {
    display: none;
}


.block-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 300px;
    width: auto;
    height: 357px;
    /* border: solid black 1px; */
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}

.block-banner {
    display: flex;
    flex-direction: column;
    padding-top: 3.5%;
    margin-top: 2.3%;
    margin-bottom: 7%;
    width: 53%;
    height: 24%;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 1);
}

.banner p {
    margin-top: 63px;
    margin-bottom: 21px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.block-banner {
    align-items: center;
}

.block-banner span {
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
    text-align: center;
    color: rgba(142, 142, 142, 1);
}

.avatar {
    display: flex;
    /* justify-content: space-around; */
    position: absolute;
    top: 1835px;
}

#banner-1,
#banner-3 {
    opacity: 0.50;

}

#h1-zakaz-1024 {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* header a */
    a {
        font-size: 12px;
    }

    .li-a {
        font-size: 20px;
        display: none;
    }

    h1 {
        font-size: 38px;
    }

    #logo {
        font-size: 36px;
    }

    .block-3 div picture h2 {
        margin-left: 36px;
        font-size: 36px;
        font-weight: 700;
    }

    .modal-header h2 {
        font-size: 24px;
    }

    .block-3 div {

        align-items: center;
    }

    .block-3 div picture p {
        font-size: 15px;
        margin-left: 38px;
        /* margin-bottom: 20px; */
        font-weight: 300;
        line-height: 17px;
        text-align: left;


    }

    .banner p {
        font-size: 18px;
    }

    footer div h6 {
        font-size: 14px;
    }

    footer div a {
        font-size: 14px;
    }

    #block-2-header span img {
        position: absolute;
        scale: 1.1;
        top: 100px;
        left: 50%;
    }

    #block-2-header {
        margin-top: 60px;
    }

    #h1-zakaz {
        display: none;
    }

    #h1-zakaz-1024 {
        display: block;
    }

    .block-1 {
        margin-top: 40px;
        margin-right: 7em;
        margin-left: 4em;
    }

    .block-3 {
        margin-top: 200px;
    }

    .block-3 div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }

    .block-3 div picture {
        width: 594px;
        height: 350px;
    }

    .borderline {
        width: 602.63px;
        height: 179.74px;
        overflow: hidden;
    }

    .block-3 div picture div img {
        width: 602.63px;
    }

    .block-3 h1 {
        margin-bottom: 48px;
    }

    .dekstop-p {
        display: none;
    }

    .tablet-p {
        margin-left: 38px;
        display: block;
    }

    .block-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 124px;
        width: 100%;
        height: 948px;


        /* border: solid black 1px; */
    }

    .block-banner {
        display: flex;
        flex-direction: column;
        width: 536px;
        height: 187px;
    }

    .avatar {
        scale: 1.3;
        display: flex;
        /* justify-content: space-around; */
        position: absolute;
        top: 2100px;
    }

    #avatar-1 {
        top: 2125px;
    }

    #avatar-2 {
        top: 2390px;
    }

    #avatar-3 {
        top: 2650px;
    }

    #banner-1,
    #banner-3 {
        opacity: 1;

    }

    .modal {
        width: 100%;
        height: 100%;
        overflow: hidden;


        backdrop-filter: blur(25px);
    }

    .modal-content {
        width: 635px;
        height: 401px;
        align-items: center;
    }

    .modal-header {}

    .modal-body label {

        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    #name {
        margin: 0;
        width: 432px;
        height: 41px;
    }

    #email {
        margin: 0;
        width: 432px;
        height: 41px;
    }

    #comment {
        margin: 0;
        width: 432px;
        height: 95px;


    }

    #submit {
        margin: 27px;
        width: 137px;
        height: 27px;
    }


}

@media (min-width: 320px) and (max-width: 767px) {

    /* header a */

    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    a {
        font-size: 20px;
        font-weight: 400;
    }

    .center-svg {
        font-size: 23px;
        font-weight: 300;
    }

    .li-a {
        font-size: 20px;
        display: none;
    }

    h1 {
        font-size: 38px;
    }

    #logo {

        align-items: center;
        /* width: 183.36px; */

        height: 36px;

        font-weight: 800;
        font-size: 25px;
    }

    #logo svg {
        padding-right: 10px;
    }

    menu span a svg {
        display: none;
    }

    .block-3 div picture h2 {
        margin-left: 36px;
        font-size: 36px;
        font-weight: 700;
    }

    .modal-header h2 {
        font-size: 24px;
    }

    #right {
        margin: 0px;
    }

    .left-nav {
        flex-direction: column;
        gap: 1px;
    }

    menu {
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #block-2-header span p {
        font-size: 27px;
        font-weight: 300;
        text-align: center;

    }

    #btn {
        width: 10em;
        height: 3em;

        border-radius: 7px;
        border: none;
        font-size: 11px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;

    }

    #cofr {
        display: none;
    }

    .block-3 div {

        align-items: center;
    }

    .block-3 div picture p {
        font-size: 15px;
        margin-left: 38px;
        /* margin-bottom: 20px; */
        font-weight: 300;
        line-height: 17px;
        text-align: left;


    }

    .banner p {
        font-size: 18px;
    }

    footer div h6 {
        font-size: 14px;
    }

    footer div a {
        font-size: 14px;
    }

    #block-2-header span img {
        position: absolute;
        scale: 1.1;
        top: 100px;
        left: 50%;
    }

    #block-2-header {
        margin-top: 60px;
    }

    #h1-zakaz {
        display: none;
    }

    #h1-zakaz-1024 {
        display: block;
        letter-spacing: -1px;
        text-align: center;
    }


    .block-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .centered-content span h1 {
        align-items: center;
        /* font-size: 25px; */
        line-height: 40px;
        font-weight: 100;
        text-align: center;
    }

    .centered-content span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .centered-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



    .block-3 {
        margin-top: 61px;
    }

    .block-3 div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }

    #size-20 {
        font-size: 32px;
    }

    .block-3 div picture {
        width: 80%;
    }

    .borderline {
        width: 602.63px;
        height: 179.74px;
        overflow: hidden;
    }

    .block-3 div picture div img {
        width: 602.63px;
    }

    .block-3 h1 {
        margin-bottom: 48px;
    }

    .dekstop-p {
        display: none;
    }

    .tablet-p {
        margin-left: 38px;
        display: block;
    }

    .block-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 103px;
        padding-top: 70px;
        width: 100%;
        height: max-content;
        padding-bottom: 150px;
        gap: 80px;
        margin-bottom: 0;
        /* border: solid black 1px; */
    }

    .block-banner {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 187px;
        /* text-align: center; */
    }

    .avatar {
        scale: 1.5;
        display: flex;
        /* justify-content: space-around; */
        position: sticky;
        top: 2100px;
    }

    /* #avatar-1 {}

    #avatar-2 {
        top: 2320px;
    }

    #avatar-3 {
        top: 2645px;
    } */

    #banner-1,
    #banner-3 {
        opacity: 1;

    }

    .modal {
        width: 100%;
        height: 100%;
        overflow: hidden;

        backdrop-filter: blur(25px);
    }

    .modal-content {
        width: 267px;
        height: 330px;
        align-items: center;
    }

    .modal-header h2 {
        font-size: 17px;
        font-weight: 600;
    }

    .modal-body label {

        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    #name {
        text-align: center;
        margin: 0;
        width: 212px;
        height: 20px;
    }

    #email {
        text-align: center;
        margin: 0;
        width: 212px;
        height: 20px;
    }

    #comment {
        font-size: 10px;
        font-weight: 300;
        line-height: 11.72px;
        text-align: center;

        margin: 0;
        width: 212px;
        height: 95px;
    }

    #submit {
        font-size: 11px;
        font-weight: 300;
        margin: 20px;
        width: 6em;
        height: 1.5em;
        border-radius: 4px;
    }

    footer {
        padding: 50px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    footer div {
        align-items: center;
        text-align: center;
    }

    footer div a {
        font-weight: 400;
    }

    #footer-center-last-element {
        text-align: center;
        font-weight: 400;
        margin-bottom: 15px;
    }
}